<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>Kajiki Server</title></head>
  <body>
    <h1>Kajiki Server (Python)</h1>
    <h2>Enter your name!</h2>
    <form action="http://127.0.0.1:8080" method="post">
        <input type="text" name="name" placeholder="Your Name" /> <br /><br />
        <input type="text" name="surname" placeholder="Your Surname" /> <br /><br />
        <input type="submit" name="identity_form" value="Send" />
    </form>

    <form action="http://127.0.0.1:8080" method="post">
        <input type="text" name="username" placeholder="Your username" /> <br /><br />
        <input type="text" name="email" placeholder="Your e-mail" /> <br /><br />
        <input type="submit" name="credentials_form" value="Send" />
    </form>

  </body>
</html>